<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043867516304-8m9gk162lmmdjgs69ho2sf6ejtli9qtn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043867516304-8m9gk162lmmdjgs69ho2sf6ejtli9qtn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1043867516304-01um1tdn9gil1moncg6lfkhamlvem8d6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxu2HUhxuwXnBZtFVrjbuXKdpTOJhL6pI</string>
	<key>GCM_SENDER_ID</key>
	<string>1043867516304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.oprojects.instabadel-mobileapp</string>
	<key>PROJECT_ID</key>
	<string>instapadel-2ca05</string>
	<key>STORAGE_BUCKET</key>
	<string>instapadel-2ca05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043867516304:ios:699148907616a13610c715</string>
</dict>
</plist>